{{extend 'sitelayout.html'}}

{{block script-end}}
{{end}}

<section class="about">
    <img src="{{=URL('static', 'site/images/about/cover.jpg')}}">

    <p><br></p>
    <h4><label style="width: 75px;">Fullname</label>: Cloud Pillow Studio</h4>
    <h4><label style="width: 75px;">Title</label>: Group of Illustration Artists</h4>
    <h4><label style="width: 75px;">Location</label>: Hanoi, Vietnam</h4>

    <h3>Biography</h3>
    <p>Được thành lập từ tháng 9 năm 2014, trải qua gần 2 năm hoạt động, dù Cloud Pillow Studio hiện tại vẫn đang
    là một studio non trẻ nhưng đã có nhiều hoạt động trải dài trong rất nhiều lĩnh vực khác nhau với hàng trăm dự
    án lớn nhỏ của mỗi thành viên. Từng bước, studio đã và đang có những bước tiến vững chắc nhất định, đặt nền
    móng cho sự phát triển mạnh mẽ sau này.</p>

    <h3>Contact Information:</h3>
    <p>Facebook: <a target="_blank" href="https://www.facebook.com/cloudpilowstudio">
        https://www.facebook.com/cloudpilowstudio
    </a></p>
    <p>Phone number: <a href="tel:+841666573886">(+84) 1666573886</a></p>
    <p>Email: <a href="mailto:nmduc.iper@gmail.com">nmduc.iper@gmail.com</a></p>

    <h3>Members</h3>
    <div class="row">
        <div class="col-sm-2">
            <img class="img-responsive" src="{{=URL('static', 'site/images/about/1.jpg')}}">
        </div>
        <div class="col-sm-10">
            <h4>Nguyễn Minh Đức (Art Director, Illustration, Concept Artist)</h4>
            <p>Style: Realistic, Cartoon, Illustration</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <img class="img-responsive" src="{{=URL('static', 'site/images/about/2.jpg')}}">
        </div>
        <div class="col-sm-10">
            <h4>Trần Xuân Đức (Gamet Artist)</h4>
            <p>Nickname / Họa Danh: Xiao Duc</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <img class="img-responsive" src="{{=URL('static', 'site/images/about/3.jpg')}}">
        </div>
        <div class="col-sm-10">
            <h4>Nguyễn Hồng Anh (Illustration)</h4>
            <p>Nickname / Họa Danh: Noh.A</p>
            <p>Style: Illustration</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <img class="img-responsive" src="{{=URL('static', 'site/images/about/4.jpg')}}">
        </div>
        <div class="col-sm-10">
            <h4>Nguyễn Tố Uyên (Illustration)</h4>
            <p>Nickname / Họa Danh: Wazza Pink</p>
            <p>Style: Illustration</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <img class="img-responsive" src="{{=URL('static', 'site/images/about/5.jpg')}}">
        </div>
        <div class="col-sm-10">
            <h4>Đặng Nam Phương (Illustration, Animator)</h4>
            <p>Nickname / Họa Danh: Pé Phụng</p>
            <p>Style: Cartoon, Illustration</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <img class="img-responsive" src="{{=URL('static', 'site/images/about/6.jpg')}}">
        </div>
        <div class="col-sm-10">
            <h4>Trần Thanh Hà (Graphic Designer, Illustrator)</h4>
            <p>Nickname / Họa Danh: Hà Trần</p>
            <p>Style: Illustration</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <img class="img-responsive" src="{{=URL('static', 'site/images/about/7.jpg')}}">
        </div>
        <div class="col-sm-10">
            <h4>Nguyễn Đăng Lợi (Illustrator, Concept Artist)</h4>
            <p>Nickname / Họa Danh: GrWolf</p>
            <p>Style: Realistic, Cartoon, Illustration</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <img class="img-responsive" src="{{=URL('static', 'site/images/about/8.jpg')}}">
        </div>
        <div class="col-sm-10">
            <h4>Dương Thị Bình Minh (Illustration)</h4>
            <p>Nickname / Họa Danh: Meo Ngu</p>
            <p>Style: Illustration</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <img class="img-responsive" src="{{=URL('static', 'site/images/about/9.jpg')}}">
        </div>
        <div class="col-sm-10">
            <h4>Lâm Hoài Phương (Illustrator)</h4>
            <p>Nickname / Họa Danh: Lâm - xXxsaiStyle</p>
            <p>Style: Illustration</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <img class="img-responsive" src="{{=URL('static', 'site/images/about/10.jpg')}}">
        </div>
        <div class="col-sm-10">
            <h4>Bùi Xuân Khánh ( Senior Manager )</h4>
            <p>Nickname / Họa Danh: Nước Lạnh</p>
        </div>
    </div>
</section>