{{extend 'sitelayout.html'}}

{{block script-end}}
<script>
{{if alert:}}
    alert("Message sent succesful!");
{{pass}}
    var field = $("input[type='text'], input[type='email'], textarea");
    field.on("change input", function(e) {
        if (e.keyCode === 9)
            return;
        if ($(this).val().length === 0) {
            $(this).parent().removeClass('text-right');
            $(this).prev('label').css('left', '17px');
        }
        else {
            $(this).parent().addClass('text-right');
            $(this).prev('label').css('left', '-17px');
        }
    });
</script>
{{end}}

<section class="contact">
    <h1>Send Message</h1>
    <form method="post" action="{{=URL()}}">
        <input name="key" type="hidden" value="{{=session.form_key}}">
        <div class="form-group">
            <label>Your Name</label>
            <input name="name" aria-required="true" required="required" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Your Email</label>
            <input name="email" aria-required="true" required="required" type="email" class="form-control">
        </div>
        <div class="form-group">
            <label>Your Message</label>
            <textarea name="message" aria-required="true" required="required" class="form-control" rows="10"></textarea>
        </div>
        <div class="form-group">
            <input class="form-control btn btn-default" type="submit" value="SEND">
        </div>
    </form>
</section>
