{{extend 'sitelayout.html'}}

<style>
    .grid li {
        width: 50%;
    }
</style>
<section class="grid-wrap">
    <ul class="grid swipe-down" id="grid">
    {{for p in home:}}
        <li>
            <a href="{{=p['url']}}">
                <img src="{{=URL('default', 'download', args=p['thumbnail'])}}" alt="{{=p['title']}}"
                     title="{{=p['title']}}">
                <div class="overlay">
                    <h3>{{=p['title']}}</h3>
                </div>
            </a>
        </li>
    {{pass}}
    </ul>
</section>
