body {
    font-family: "minion-pro", times, serif;
    font-size: 15px;
}

.list-01, .main-nav, .second-nav, .book-projects {
    list-style: none;
    padding: 0;
}

.list-01 ul, .main-nav ul, .second-nav ul, .book-projects ul {
    padding: 0;
    list-style: none;
}

.logo img {
    max-width: 200px;
}

a:hover {
    text-decoration: none;
    color: #f25a5a;
}

img {
    max-width: 100%;
}

.main-nav > ul > li > a {
    font-size: 18px;
}

.main-nav ul li + li, .second-nav ul li + li {
    margin-top: 5px;
}

.main-nav ul li a, .second-nav ul li a {
    color: #444;
}

.main-nav ul li a:hover, .second-nav ul li a:hover {
    color: #f25a5a;
}

.second-nav {
    margin-top: 15px;
    padding-top: 15px;
    position: relative;
}

.second-nav:before {
    position: absolute;
    content: '';
    width: 100px;
    height: 1px;
    background: #bbb;
    top: 0;
    left: 0;
}

.second-nav h4 {
    margin-top: 0;
}

.content-right, .book-projects, .comic {
    margin-top: 5px;
}

.detail-projects, .detail-comic {
    margin-top: 20px;
    font-size: 16px;
}

.detail-projects img + img, .detail-comic img + img {
    margin-top: 30px;
}

.detail-images img {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
}

.detail-images {
    text-align: center;
}

.detail-images img {
    margin-top: 30px;
}

.detail-images a:first-child > img {
    margin-top: 0;
}

.book-cover, .game-art {
    margin-top: 35px;
}

.book-cover .entry-item + .entry-item, .game-art .entry-item + .entry-item {
    margin-top: 30px;
}

.book-cover .entry-item .entry-content .entry-title, .game-art .entry-item .entry-content .entry-title {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 22px;
    text-transform: uppercase;
}

.book-cover .entry-item .entry-content .entry-title a, .game-art .entry-item .entry-content .entry-title a {
    color: #666;
}

.book-cover .entry-item .entry-content .entry-title a:hover, .game-art .entry-item .entry-content .entry-title a:hover {
    color: #f25a5a;
}

.book-cover .entry-item .entry-content .entry-meta, .game-art .entry-item .entry-content .entry-meta {
    padding-left: 50px;
    position: relative;
}

.book-cover .entry-item .entry-content .entry-meta .meta-date, .game-art .entry-item .entry-content .entry-meta .meta-date {
    position: absolute;
    top: 0;
    left: 0;
}

.book-cover .entry-item .entry-content .entry-meta .meta-author span, .game-art .entry-item .entry-content .entry-meta .meta-author span {
    display: inline-block;
    width: 100%;
}

.comic {
    margin-top: 5px;
}

.comic .entry-item {
    margin-top: 30px;
}

.second-nav li {
    margin-bottom: 5px;
}

.about, .contact {
    margin-top: 20px;
}

.about .row + .row {
    margin-top: 10px;
}

.about .row h4 {
    font-weight: bold;
}

.contact .form-control {
    border-color: #ccc;
}

.contact .btn {
    font-size: 16px;
}

.contact label {
    font-weight: normal;
    color: #aaa;
    font-size: 14px;
    position: relative;
    top: 13px;
    left: 17px;
}

.contact input[type="text"], .contact input[type="email"] {
    margin-top: -26px;
    color: #000;
}

.contact textarea {
    margin-top: -25px;
}

.contact .danger {
    color: #f25a5a;
}

.contact input:-moz-placeholder, .contact input:-ms-input-placeholder,
.contact input::-webkit-input-placeholder, .contact input::-moz-placeholder {
    color: #ccc;
}

::-webkit-input-placeholder {
    color:    #ccc;
}
:-moz-placeholder {
    color:    #ccc;
}
::-moz-placeholder {
    color:    #ccc;
}
:-ms-input-placeholder {
    color:    #ccc;
}

.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    left: 0;
}

.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    margin-top: -13px;
}

.ui-accordion .ui-accordion-content, .ui-accordion .pane {
    padding: 0 0 0 1em;
}

.ui-accordion .ui-accordion-header {
    /*margin: 10px 0 0 0;*/
    padding: 0 0 8px 1em;
}

.accordion h3 {
    outline : none;
}

.accordion a {
    color: black;
}

.accordion a:hover, .accordion .selected {
    color: #f25a5a;
}

.accordion .ui-accordion-content {
    display: none;
}

.ui-accordion .ui-accordion-header {
    cursor: default;
}

.second-nav > .ui-accordion > li {
    margin-left: 1em;
}