{{extend 'sitelayout.html'}}

<section class="grid-wrap">
    <ul class="grid swipe-down" id="grid">
    {{for p in projects:}}
        <li>
            <a href="{{=URL(c='project', f='index', args=p.id)}}">
                <img src="{{=URL('default', 'download', args=p.thumbnail)}}" alt="{{=p.title}}">
                <div class="overlay">
                    <h3>{{=p.title}}</h3>
                </div>
            </a>
        </li>
    {{pass}}
    </ul>
</section>
