{{extend 'sitelayout.html'}}

{{block script-end}}
<script type="text/javascript" src="{{=URL('static', 'site/component/ekko-lightbox.min.js')}}"></script>
<script>
$(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
    event.preventDefault();
    $(this).ekkoLightbox();
});
</script>
{{end}}

<section class="detail-projects">
    <h1>{{=project.title}}</h1>
    {{=XML(project.description)}}
    <hr>
    <div class="detail-images">
    {{for image in images:}}
        <a href="{{=URL('default', 'download', args=image.image)}}" data-title="{{=image.title}}"
           data-gallery="{{=project.title}}" data-toggle="lightbox">
            <img class="" src="{{=URL('default', 'download', args=image.image)}}" title="{{=image.title}}" alt="{{=image.alt_tag}}" />
        </a>
    {{pass}}
    </div>
</section>