<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{=response.title}}</title>
    <link rel="stylesheet" href="{{=URL('static','css/bootstrap.min.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{=URL('static', 'site/component/normalize.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{=URL('static', 'site/component/samsung-grid/css/component.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{=URL('static', 'site/component/ekko-lightbox.min.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{=URL('static', 'site/component/jquery-ui.min.css')}}"/>
    <link rel="stylesheet" type="text/css" href="{{=URL('static', 'site/component/jquery-ui.icon.css')}}"/>
    <link rel="stylesheet" href="{{=URL('static', 'site/style.css')}}">
    <script type="text/javascript" src="{{=URL('static', 'site/component/modernizr.custom.js')}}"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <aside class="col-xs-12 col-md-3 sidebar">
            <div class="logo">
                <a href="{{=URL('default', 'index')}}">
                    <img src="{{=URL('static', 'site/images/main/logo.jpg')}}" alt="">
                </a>
            </div>
            <!-- logo -->

            <nav class="main-nav">
                <h4>Group of Illustration Artists</h4>
                <ul>
                    <li><a href="{{=URL('default', 'index')}}">Work</a></li>
                    <li><a href="{{=URL('default', 'about')}}">About</a></li>
                    <li><a href="{{=URL('default', 'contact')}}">Contact</a></li>
                </ul>
            </nav>
            <!-- main nav -->

            <nav class="second-nav">
            {{=response.categories}}
            </nav>
            <!-- second nav -->
        </aside>
        <!-- col -->

        <div class="col-xs-12 col-md-9 content-right">
        {{include}}
        </div>
        <!-- col -->

    </div>
</div>
<!-- container -->

<!-- Add jQuery library -->
<script type="text/javascript" src="{{=URL('static', 'site/component/jquery-1.11.3.min.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'site/component/jquery.browser.min.js')}}"></script>
<script type="text/javascript" src="http://cdn.jquerytools.org/1.2.6/tiny/jquery.tools.min.js"></script>
<script type="text/javascript" src="{{=URL('static', 'js/bootstrap.min.js')}}"></script>
{{block script-end}}
<script type="text/javascript" src="{{=URL('static', 'site/component/imagesloaded.pkgd.min.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'site/component/masonry.pkgd.min.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'site/component/classie.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'site/component/colorfinder-1.1.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'site/component/samsung-grid/js/gridScrollFx.js')}}"></script>
<script type="text/javascript" src="{{=URL('static', 'site/component/jquery.matchHeight-min.js')}}"></script>
<script>
    new GridScrollFx(document.getElementById('grid'), {
        viewportFactor: 0.4
    });
</script>
{{end}}
<script>
    $(function () {
        $(".accordion").tabs(".ui-accordion-content", {
            tabs: '> h3',
            effect: 'slide',
            initialIndex: null
        });

        $(".accordion > h3").unbind('click');
        $(".accordion > h3 > span").click(function () {
            var parent = $(this).closest('h3');
            if (parent.hasClass("current") && parent.next().queue().length === 0) {
                parent.next().slideUp();
                parent.removeClass("current");
                $(this).removeClass("ui-icon-triangle-1-s");
                $(this).addClass("ui-icon-triangle-1-e");
            } else if (!parent.hasClass("current") && parent.next().queue().length === 0) {
                parent.next().slideDown();
                parent.addClass("current");
                $(this).removeClass("ui-icon-triangle-1-e");
                $(this).addClass("ui-icon-triangle-1-s");
            }
        });
        $(".selected").parents('.ui-accordion-content').each(function () {
            var root = $(this).prev();
            root.next().slideDown();
            root.addClass("current");
            root.children('span.ui-icon').each(function () {
                $(this).removeClass("ui-icon-triangle-1-e");
                $(this).addClass("ui-icon-triangle-1-s");
            });
        });
    });
</script>
</body>
</html>